@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import "tailwindcss";



html,
body {
  padding: 0;
  margin: 0;
}


.quran-text {
  font-family: 'Amiri', serif;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
  font-size: 22px;
}